<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Projeto Relogio de Ponto</h1>
    <p>Relogio de ponto para usuários baseado em Flask</p>
    <p>--Gestão de usuuários</p>
    <p>Atributos: id, cpf, email, nomes, data de cadastro.</p>
    <p>Operações</p>
    <p>1.criar_usu(nome,cpf,email, data de cadastro)</p>
    <p>--Controle de Ponto</p>
    <p>Atributos: id, usuario, data/hora do ponto, tipo(entrada ou saida).</p>
    <p>Operações</p>
    <p>HELLO WORLD</p>
</body>
</html>